<form action=""  id="formLogin" style="text-align: center;" >
<h2 style="text-align: center;">Loguearse</h2>

<label style="display: block;" for="email">email</label><input id="input_email" type="email" placeholder="email">
<label style="display: block;" for="password">password</label><input id="input_password" type="password" placeholder="password">
<button style="gap: 2rem;" type="submit">Loguearse</button>
</form>
<br>
<br>
<p style="text-align: center;">Volver al <a href="http://localhost:8080/">Inicio</a></p>
<br>
<p style="text-align: center;">Todavia no se registro ? <a href="http://localhost:8080/register">Registrarse</a></p>



<script src="/js/login.js"></script>