<form action=""  id="formRegister" style="text-align: center;" >
<h2 style="text-align: center;">Registrarse</h2>


<label style="display: block;"  for="first_name">first name</label><input id="input_first_name" type="text" placeholder="first_name">
<label style="display: block;" for="last_name">last name</label><input id="input_last_name" type="text" placeholder="last_name">
<label style="display: block;" for="age">age</label><input id="input_age" type="text" placeholder="age">
<label style="display: block;" for="email">email</label><input id="input_email" type="email" placeholder="email">
<label style="display: block;" for="password">password</label><input id="input_password" type="password" placeholder="password">
<button style="gap: 2rem;" type="submit">Enviar</button>

</form>
<br>
<br>
<p style="text-align: center;">Si ya se ha registrado inicie sesion <a href="http://localhost:8080/login">Loguearse</a></p>




<script src="/js/register.js"></script>